<nav class="navbar navbar-expand-lg px-0" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand  " routerLink="home"><img src="../assets/images/logo.png" alt="" class="img-fluid"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto text-right">                    
        <li class="nav-item">
          <a class="nav-link   active" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <li>
            <a class="nav-link btn btn-theme" routerLink="login">Login</a>
        </li>
        <li>
            <a class="nav-link btn btn-theme" routerLink="user-list">Enquire</a>
        </li>
      </ul>
    </div>
  </div>
</nav>