<section class="container body-container mt-4 w-60">
  <div class="row">
    <div class="col-5">
      <img class="login-img" src="../assets/images/login-img.png">
    </div>
    <div class="col-6 d-flex ml-3 bg-white">
        <div class="align-self-center w-100">
      <h3 class="txt-primary fz-25 txt-bold">Welcome back!</h3>
      <p class="text-secondary fz-15 txt-bold">Please login to access your <span class="txt-accent">Spaces</span> Dashboard</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="username" class="fz-14 txt-secondary">Username</label>
              <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && formData.username.errors }" />
              <div *ngIf="submitted && formData.username.errors" class="invalid-feedback">
                  <div *ngIf="formData.username.errors.required">Username is required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="password" class="fz-14 txt-secondary">Password</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formData.password.errors }" />
              <div *ngIf="submitted && formData.password.errors" class="invalid-feedback">
                  <div *ngIf="formData.password.errors.required">Password is required</div>
              </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <a href="#" class="txt-accent fz-14">Forgot password?</a>
              </div>

              <div class="col text-right">
              <button [disabled]="loading" class="btn btn-theme text-uppercase txt-bold">Login</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
          </div>
            </div>
      </form>
      </div>
    </div>
  </div>
</section>
